@mixin centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  height: 60px;
  .row {
    margin: 0;
    padding: 0;
  }
  @include centerItem();
  .navbar {
    &--logo {
      cursor: pointer;
      .logo__img {
        width: 90px;
        height: 45px;
      }
    }
    &--list {
      display: flex;
      justify-content: space-evenly;
      padding: 0 12px;
    }
    &--link {
      font-size: 16px;
      text-transform: uppercase;
      @include centerItem();
      flex-basis: 18%;
      cursor: pointer;
    }
  }
}
