@mixin centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  height: 60px;
  .row {
    margin: 0;
    padding: 0;
  }
  @include centerItem();
  .navbar {
    &__logo {
      cursor: pointer;
      .logo--img {
        width: 90px;
        height: 45px;
      }
    }
    &__list {
      display: flex;
      justify-content: space-evenly;
      padding: 0 12px;
    }
    &__link {
      font-size: 16px;
      text-transform: uppercase;
      @include centerItem();
      flex-basis: 18%;
      cursor: pointer;
    }
    &__link:hover {
      border-bottom: 2px solid $primary--color;
    }
    &__search {
      .search__in {
        width: 90%;
        height: 32px;
        padding-left: 12px;
        font-size: 14px;
        border: 1px solid $border--color;
        border-radius: 8px;
        outline: none;
        cursor: pointer;
      }
    }
  }
}
