* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Merriweather", serif;
  color: #333333;
}

#Controller {
  padding: 0 12px;
}

#Controller ul,
#Controller li {
  padding: 0;
  margin: 0;
}

#header {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .row {
  margin: 0;
  padding: 0;
}

#header .navbar__logo {
  cursor: pointer;
}

#header .navbar__logo .logo--img {
  width: 90px;
  height: 45px;
}

#header .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 12px;
}

#header .navbar__link {
  font-size: 16px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  cursor: pointer;
}

#header .navbar__link:hover {
  border-bottom: 2px solid #fcaf17;
}

#header .navbar__search {
  position: relative;
}

#header .navbar__search .search__in {
  width: 100%;
  height: 36px;
  padding-left: 12px;
  font-size: 13px;
  border: 1px solid #dde1ef;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

#header .navbar__search .btn--search {
  position: absolute;
  white-space: nowrap;
  width: 60px;
  height: 36px;
  right: 0;
  top: 0px;
  background: #0c8796;
  overflow: hidden;
  border-radius: 0 8px 8px 0;
}

#header .navbar__search img {
  width: 20px;
  height: auto;
}

#header .navbar__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#header .navbar__user .user--cart {
  position: relative;
}

#header .navbar__user .user--cart span {
  position: absolute;
  background-color: #0c8796;
  width: 18px;
  height: 18px;
  text-align: center;
  right: -12px;
  border-radius: 50%;
  line-height: 18px;
  color: #fff;
  font-size: 12px;
}

#header .navbar__user lord-icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

#content--controller {
  padding: 10px 0;
}

#footer {
  font-size: 14px;
  background-color: #f8f8f8;
}

#footer .row {
  margin: 0;
  padding: 0;
}

#footer .footer {
  padding: 12px 0;
}

#footer .footer__logo p {
  margin-bottom: 0.6rem;
  text-align: left;
}

#footer .footer__logo .footer__list .footer__link {
  -webkit-animation: iconFadeIn 1s linear infinite;
          animation: iconFadeIn 1s linear infinite;
  cursor: pointer;
  margin: 0 6px;
}

#footer .footer__logo .footer__list .footer__link .icon {
  height: 32px;
  width: 32px;
}

#footer .footer__about {
  padding: 0 24px;
}

#footer .footer__info .info--item {
  padding: 0 12px;
  margin-bottom: 8px;
}

#footer .footer__info .info--item__img {
  margin-right: 6px;
}

@-webkit-keyframes iconFadeIn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  50% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  75% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes iconFadeIn {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  50% {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  75% {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=style.css.map */