#HomePage {
  overflow: hidden;
  .slick-dots li button {
    display: none;
  }
  .wapper {
    &__img {
      border: 2px solid transparent;
    }
  }
  .container {
    padding: 8px 0;
    h3 {
      padding: 12px 0;
      font-size: 18px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
