#ShirtPage {
  .shirt__header {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    span {
      line-height: 40px;
      span {
        cursor: pointer;
      }
    }
    margin-bottom: 10px;
  }
  .shirt__content {
    overflow: hidden;
    .content__list {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      .col-xl-12d5 {
        margin: 6px 0 8px;
        flex-basis: 16%;
        height: 420px;
        lord-icon {
          cursor: pointer;
        }
      }
      p {
        margin: 6px;
        padding: 0;
        font-size: 14px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-transform: capitalize;
        overflow: hidden;
        cursor: pointer;
      }
      span {
        margin: 0 6px;
        font-size: 16px;
        cursor: pointer;
      }
      .list__img {
        height: 304px;
        cursor: pointer;
      }
      .list--item {
        display: flex;
        .item__img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          margin: 6px;
          cursor: pointer;
        }
      }
    }
  }
}
